
div#question-detail {
  width: 80%;
  margin: auto auto;
  color: #777777;

  div {
    div.paragraph {
      margin: 20px auto;
    }
  }

  img.question-img {
    width: 100%;
  }

  div#solution {
    margin-bottom: 100px;
  }
}