
div#ddown-filter {
  text-align: center;

  /*div.styled-menu {
    border: 1px solid blue;
    border-radius: 30px;
    margin: 5px 5px 5px 5px;

    div:first-child {
      div:nth-child(2) {
        height: 30px !important;
        line-height: 30px !important;
      }
      button {
        top: -8px !important;
      }
      div:nth-child(4) {
        border: 0px solid white !important;
      }
    }
  }
  div.styled-menu {
    color: blue !important;
    div:first-child {
      div:nth-child(4) {
        border-top: 1px solid blue !important;
      }
    }
  }*/
}