@import '../globals';

div.home-btn {
  position: relative;

  div.selected-item {
    border: 1px solid #aaaaaa;
    padding: 5px 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $theme-color;
      color: white;
    }

    &::after {
      content: "";

      width: 0;
      height: 0;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid #aaaaaa;

      position: relative;
      top: -11px;
      left: 20px;
    }
  }

  div.select-dropdown {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    z-index: 100;

    div.select-item {
      padding: 0 20px;

      &:hover {
        background-color: $theme-color;
        color: white;
      }
    }

    div.profile-head {
      font-size: 0.8em;
      border-bottom: 1px solid #dddddd;

      div.profilehome-icon {
        position: relative;
        display: inline-block;
        top: -15px;
        padding-top: 5px;
        font-size: 1.0em;
        color: white;
        text-align: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $theme-color;
      }
    }
    div.profile-foot {
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0.8em;
      border-top: 1px solid #dddddd;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}
