div.tag-group {
  div.input-text-wrapper {
    display: inline-block;
    width: 40%;
  }
  div.tag-btn {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    background-color: #eeeeee;
    text-align: center;
    padding: 5px;
    
    &:hover {
      cursor: pointer;
    }
  }

  div.tag-pool {
    width: 60%;
    div.q-tag {
      display: inline-block;
      margin: 3px;
      padding: 5px 10px;
      border: 1px solid #aaaaaa;
      background-color: #eeeeee;
      border-radius: 5px;

      span.x-btn:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}