/**
 * Created by bhuang on 5/25/18.
 */
@import "../../globals";

div.commentlist-container {
    width: 90%;
    margin: 20px auto;
    padding: 30px 80px;
    border-radius: 10px;
    background-color: #eeeeee;

    div.commentlist-new {
        margin: 50px 0;

        div {
            img.commentlist-profile-img {
                width: 60px;
                height: 60px;
            }
        }

        div.commentlist-mycomment {
            margin: 10px 0;

            div.commentlist-button {
                button.qbutton {
                    @include qbutton;
                    width: 200px;
                    float: right;
                    padding: 5px 20px;
                    font-size: 1.0em;
                }
            }
        }
    }
}
